@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
    color: rgb(58, 58, 58);
    font-weight: 500;
}

#todolist h1 {
    font-size: 5em;
    color: rgb(58, 58, 58);
}